.container {
  width: 100%;
  height: 100%;
  padding: 50px;
}
.phrase-container{
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.phrase-card{
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  flex: 1 0 0;
}
.phrase-active {
  background-color: #ffe6e6;
  clear: both;
  width: 100%;
}
